<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>312264032470-332dvtdtljtnnpdac9bs72gncevq91e7.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.312264032470-332dvtdtljtnnpdac9bs72gncevq91e7</string>
		<key>API_KEY</key>
		<string>AIzaSyDJk6m11dNo-orfLu2zFAkMMF45cbmeSSY</string>
		<key>GCM_SENDER_ID</key>
		<string>312264032470</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.beeerlian.saeflix</string>
		<key>PROJECT_ID</key>
		<string>saeflix-21cce</string>
		<key>STORAGE_BUCKET</key>
		<string>saeflix-21cce.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:312264032470:ios:1f751abddc6ed4d6880977</string>
	</dict>
</plist>